.navbar-brand,.nav-link,.navbar-brand:hover{
color:#D6D5A8;

}

.navbar{
    background-color:#1B2430 ;
}

.nav-list,.sub-nav-list{
    list-style: none;
}

.post-property-btn{
    background-color: #51557E;
    color: #D6D5A8;
}

.sub-nav{
    background-color: #51557E;
}


.nav-link:hover{
    color:white;
    
}